$bg-color: #002b36;
$fg-color: #93a1a1;
$hover-color: #268bd2;
$active-color: #2aa198;
$bg-menu-color: #2f3036;
$fg-menu-color: #ffffff;
$subtitle-color: #268bd2;

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: $fg-color;
    background-color: $bg-color;
    max-width: 800px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 0;
    margin-left: 0px;
    z-index: 10;
}
main{
    margin: 30px 10px;
    padding-top: 1px;
    position: relative;
    display: block;
    clear: both;
}
h1, h2, h3, h4, h5{
   font-family: "Courier New";
}
@media screen and (min-width :760px){
    main {
        margin: 50px;
    }
}

a{
    text-decoration: none;
    color: #6c71c4;
}
a:hover{
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

.landing{

   &__image{
       float: right; 
       opacity: 0.8;
       width: 180px;
       shape-outside: polygon(37.31% 0.28%, 8.2% 18.96%, 0.43% 36.88%, 15.86% 54.62%, 14.22% 96.72%, 97.62% 96.12%, 97.76% 0.06%);
   }

   &__social-links a,
   &__social-links a:hover{
       text-decoration: none;
   }
   /* Based on: https://codepen.io/chriscoyier/pen/bGyoz*/
   &__social-links svg:hover{
      stroke: $hover-color; 
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dashoffset 2s linear forwards;
   }
   @keyframes dashoffset {
     to {
       stroke-dashoffset: 0;
     }
   }
}



.alert-info {
   color: $hover-color;
   font-weight: bold;
}

/* resume layout */
.resume{

   &__job, &__study {
       margin-top: 30px;
       display: grid;
       grid-template-columns: 1fr;
		 grid-column-gap: 1rem;
   }

   &__year {
       color: #22988f;
       float: left;
   }

   &__company { color: #b38b21; }
   &__city { color: #2681cd; }

   &__duties {
       margin: 0;
       padding: 0 0 0 15px;
   }

   &__institution,
   &__instruction {
       color: $subtitle-color;
   }
}
@media screen and (min-width: 760px){
    .resume__job, .resume__study {
        grid-template-columns: 120px 1fr;
    }
    .resume__duties, .resume__city, .resume__program {
        grid-column: span 2;
    }

}
@media screen and (min-width: 1200px){
    .resume__job, .resume__study {
        grid-template-columns: 200px 1fr;
    }
    .resume__duties, .resume__city, .resume__program {
        grid-column: span 1;
    }

}


/* certifications grid layout */
.certifications {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 3em;



}
.certification {
   grid-column: span 1;
   padding: 5px;
   box-shadow: 3px 3px 15px black;
   border-radius: 3px;
   text-align: center;

   a {
    margin-top: 15px;
    display: block;
   }

   &__tags span{
       color: #268bd2;
       font-size: 16px;
       border: 1px dotted #268bd2;
       border-radius: 2px;
       padding: 1px 3px;
       white-space: pre;
       margin: 3px -2px;
       display: inline-block;
       line-height: 15px;
   }

}

 /* ----------------------------------------------
 * Generated by Animista on 2020-1-23 11:28:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-left
 * ----------------------------------------
 */
.wobble{
   animation: wobble-ver 0.3s 1;
}
@keyframes wobble-ver {
  0%,
  100% {
    transform: translateY(0) ;
    transform-origin: 80% 80%;
  }
  15% {
    transform: translateY(-7px) ;
  }
  30% {
    transform: translateY(3px) ;
  }
  45% {
    transform: translateY(-3px) ;
  }
  60% {
    transform: translateY(2px) ;
  }
  75% {
    transform: translateY(-1.5px) ;
  }
}

.content {
   &__img {
      border-style: dashed;
      border-width: 1px;
      margin: 10px auto;
      display: block;
      box-shadow: 1px 1px 5px;
      border-radius: 3px;
      text-align: center;
      max-width: 100%;
   }

   &__iframe {
      border: 0;
      box-shadow: 1px 1px 5px;
      border-radius: 3px;
      text-align: center;
      max-width: 100%;
      width: 600px;
      margin: 10px auto;
      display: block;
   }

}


/*
 * Menu
 */

.menu{

   display: none;
   list-style-type: none;
   margin: 0;
   padding: 0;

   ul{
       margin: 0;
   }
   li {
      display: block;
      float: none;
      border-bottom: 1px solid $active-color;
      background: $bg-menu-color;
      padding-left: 5px;
      a {
         text-decoration: none;
         display: block;
         height: 30px;
         line-height: 30px;
         color: $fg-menu-color;
         padding-left: 25px;
         margin-right: -5px;
      }

      /*
       *Sub menu
       */
      ul{
         position: relative;
         padding: 0;
         display: none;
         li{
            display: block;
            float: none;
            min-width: 170px;
            border-bottom: 1px solid $active-color;
            border-radius: 3px;
         }
      }
      a:hover + ul,
      ul:hover{
         display: block;
      }

   }
   li:hover,
   li:hover>a .diamond{
       background: $hover-color;
       border-color: $hover-color;
   }
   li:last-of-type .diamond{
       border-color: $bg-menu-color;
   }
   .diamond{
       height: 22px;
       width: 22px;
       transform: rotate(45deg) translate(6px, 0px);
       background: $bg-menu-color;
       display: inline-block;
       float: right;
       border-right: 1px solid $active-color;
       border-top: 1px solid $active-color;
       border-radius: 2px;
   }

   /*
    * active menu
    */
   li.active,
   li.active>a .diamond{
       background: $active-color;
   }
   li:last-of-type.active>a .diamond,
   li.active ul li.active .diamond{
       border-color: $active-color;
   }


}

#menuVisible{
    display: none;
}
#menuVisible:checked ~ div .menu{
    display: block;
}
.show-menu .indicator{
	border-top: 3px solid $active-color;
	border-right: 3px solid $active-color;
	transform: rotate(45deg);
   transition: transform 100ms linear;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 8px;
	line-height: 11px;
}
#menuVisible:checked ~ div .show-menu .indicator{
    transform: rotate(135deg);
    transition: transform 100ms linear;
}

.show-menu {
    text-decoration: none;
    background: $bg-menu-color;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:block;
    height: 40px;
    width: 100px;
    padding-top: 0px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    color: $fg-menu-color;
}

@media screen and (min-width : 760px){

    .landing__image{
        margin-top: -60px;
        shape-outside: polygon(37.31% 0.28%, 8.2% 18.96%, 0.43% 36.88%, 15.86% 54.62%, 17.39% 94.99%, 98.01% 95.08%, 97.76% 0.06%);
    }
    nav{
        margin-left: 50px;
    }
    .menu {
       display: block;
       li{
           display: inline-block;
           float: left;
       }
       .diamond {
           height: 21px;
           width: 21px;
           transform: translate(5px, 4px) rotate(45deg);
       }
       ul{
           position: absolute;
           margin-left: -5px;
       }
    }
    .show-menu {
        display: none;
    }
}

/*
 * Contact form
 */
.form {

   &__label {
       display: block;
   }
   &__textarea,
   &__input {
       margin-bottom: 15px;
       font-family: 'Courier New';
       line-height: 20px;
       font-size: 20px;
   }
   &__submit{
       width: 150px;
       font-size: 25px;
       border: 1px solid $active-color;
       color: $active-color;
   }
   &__buttons {
       margin-top: 30px;
   }
   &__input,
   &__textarea{
       width: calc(100% - 20px);
   }
}

/**
 * Typewriter Animations
 */

.subtitle{
    border-right: 2px solid #0c968e;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    color: $subtitle-color;
}

@keyframes blink{
    from,to{ border-right-color: transparent; }
    50% { border-right-color: #0c968e; }
}

@mixin typewriter($letters){
   .typewriter-#{$letters}{
       animation: typewriter-#{$letters} 1.2s steps(#{$letters}) 200ms 1 normal both,
       blink 1s step-end infinite;
   }
   @keyframes typewriter-#{$letters}{
       from{width: 0;}
       to{width: #{$letters / 1.66}em;}
   }
}

@include typewriter(5);
@include typewriter(8);
@include typewriter(10);
@include typewriter(11);
@include typewriter(13);
@include typewriter(16);
@include typewriter(20);

