<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Javier's portfolio</title>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/main.css?v=2") %>"/>
   </head>
   <body>
      <%= render "menu.html", assigns %>
      <main role="main" class="landing">
         <h2>Javier Gonzalez</h2>
         <%= render @view_module, @view_template, assigns %>
      </main>
   </body>
</html>
