<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
      <title>Javier's portfolio</title>
      <link rel="stylesheet" href={Routes.static_path(@conn, "/css/main.css?v=3")} />
      <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap" rel="stylesheet">
   </head>
   <body>
      <%= render "menu.html", assigns %>
      <main role="main" class="landing">
         <h2>Javier Gonzalez</h2>
         <%= @inner_content %>
         <p class="alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      </main>
   </body>
</html>
